/* ChatWindow.css */
.chat-windows-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 1000;
}

.chat-window {
    width: 300px;
    height: 400px;
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 7vh;
}

.chat-header {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.close-icon {
    cursor: pointer;
    color: white;
}

.chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-footer {
    padding: 10px;
    background-color: #444;
}

.chat-footer input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
}