.nav-link-orange {
    color: orange !important;
    font-size: medium !important;
    transition: font-size 0.3s ease !important;
}

.nav-link-orange:hover {
    color: darkorange !important;
    font-size: large !important;
}


.sidebar-divider {
    border-top: 1px solid rgb(64, 142, 179);
    opacity: 0.7;
    margin-left: 2vh;
    margin-right: 2vh;

}